.bg-style-light {
  background-color: "transparent";
  background-position: fixed;
  background-image: radial-gradient(
      circle at top right,
      #5ed8fd80,
      #eeeeee 30%,
      transparent 100%
    ),
    radial-gradient(circle at center, #5ed8fd, #eeeeee 50%, transparent 100%),
    radial-gradient(
      circle at bottom left,
      #5ed8fd80,
      #eeeeee 30%,
      transparent 100%
    );
}

.bg-style-dark {
  background-color: "transparent";
  background-position: fixed;
  background-image: radial-gradient(
      circle at top right,
      #5ed8fd80,
      #222222 30%,
      transparent 100%
    ),
    radial-gradient(circle at center, #5ed8fd, #222222 50%, transparent 100%),
    radial-gradient(
      circle at bottom left,
      #5ed8fd80,
      #222222 30%,
      transparent 100%
    );
}
