@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @font-face {
  font-family: 'Quirell';
  src: url('../styles/fonts/Quirell.woff2') format('woff2'),
      url('../styles/fonts/Quirell.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
/* @font-face {
  font-family: 'Quirell400';
  src: url('../styles/fonts/Quirell400.eot');
  src: url('../styles/fonts/Quirell400.eot') format('embedded-opentype'),
       url('../styles/fonts/Quirell400.woff2') format('woff2'),
       url('../styles/fonts/Quirell400.woff') format('woff'),
       url('../styles/fonts/Quirell400.ttf') format('truetype'),
       url('../styles/fonts/Quirell400.svg#Quirell400') format('svg');
} */

@font-face {
  font-family: "AmalineTrialRegular400";
  src: url("../styles/fonts/AmalineTrialRegular400.eot");
  src: url("../styles/fonts/AmalineTrialRegular400.eot")
      format("embedded-opentype"),
    url("../styles/fonts/AmalineTrialRegular400.woff2") format("woff2"),
    url("../styles/fonts/AmalineTrialRegular400.woff") format("woff"),
    url("../styles/fonts/AmalineTrialRegular400.ttf") format("truetype"),
    url("../styles/fonts/AmalineTrialRegular400.svg#AmalineTrialRegular400")
      format("svg");
}

@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_nova_rgbold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_rgregular";
  src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/* body {
  font-family: 'Commissioner', sans-serif;
}
h1 {
  font-family: 'Commissioner', sans-serif;
} */

/* .bg-style-light {
  background-image: url("/bg-blend.webp"), url("/bg-blue.webp"),
    url("/bg-blend.webp");
  background-position: 120% -10%, center, -28% 112%;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: #fff;
} */
/* .bg-style-dark {
  background-image: url("/bg-blend.webp"), url("/bg-blue.webp"),
    url("/bg-blend.webp");
  background-position: 120% -10%, center, -28% 112%;
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: #000;
} */

/* fallback for IE */
.gradient-text {
  color: inherit;
}
/* gradient text for modern browsers */
@supports (background-clip: text) {
  .gradient-text {
    /* background-image: linear-gradient(90deg, #22caff, #0266c1); */
    background-image: linear-gradient(
      90.98deg,
      #01f0ff 39.94%,
      rgba(35, 105, 209, 0.64) 100.07%
    );
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .gradient-background {
    background-image: linear-gradient(90deg, #22caff, #0266c1);
  }
}


/* Test */



/* New css */
/* header */

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding-top: 30px;
  padding-bottom: 10px;
}
.header.stick-header {
  padding-top: 10px;
}
.stick-header {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  background: #fff;
  z-index: 1111;
}
.bg-style-dark .stick-header {
  background: linear-gradient(270.98deg, #01f0ff 1.94%, rgba(0, 0, 0) 50.07%);

  box-shadow: 0 0 15px 0 rgba(1, 240, 255, 0.4);
}
header + div {
  margin-top: -100px;
  padding-top: 260px;
}
.header .MuiButtonBase-root {
  background: rgba(255, 255, 255, 0.5);
}
.bg-style-dark .header .MuiButtonBase-root {
  background: rgba(0, 0, 0, 0.5);
}

.custom-container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
  padding-left: 0;
  padding-right: 0;
}

/* Home page */
.home-page {
  background: url("/bg-blend.webp") 140% -10% no-repeat,
    url("/home-page-side-bg-blend.svg") -25% 16% no-repeat,
    url("/home-page-middle-bg-blend.svg") center 56% no-repeat,
    url("/home-page-bottom-bg-blend.svg") right bottom no-repeat;
  background-size: 60%, 60%, auto, 50%;
}
.common-wrapper {
  -webkit-transition: background-color 0.4s linear;
  -moz-transition: background-color 0.4s linear;
  -o-transition: background-color 0.4s linear;
  -ms-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}
.bg-style-dark .common-wrapper {
  background-color: #000;
}
.bg-style-light .common-wrapper {
  background-color: #fff;
}

.bg-style-light .home-page {
  background: url("/bg-blend.webp") 140% -10% no-repeat,
    url("/home-page-side-bg-blend.svg") -25% 16% no-repeat,
    url("/light-mode-middle-bg-blend.svg") center center no-repeat,
    url("/home-page-bottom-bg-blend.svg") right bottom no-repeat;
  background-size: 60%, 60%, auto, 50%;
}

/* first-fold */
.first-fold {
  padding-bottom: 97px;
}

.myNewBox {
  width: 740px;
  height: 740px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  background-image: url("/hero-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.cost-btn{
  color: #fff;
  border-radius: 21px;
  padding: 4px 14px;
  box-shadow: none;
}
.cost-btn:hover{
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out 0s;
}
.bg-style-dark .cost-btn{
  background: #262525;
}
.bg-style-light .cost-btn{
  color: #000;
  background: #B9E5F4;
}

.main-heading {
  font-weight: 800;
  font-size: 72px;
  line-height: 84px;
}

.main-heading .gradient-text {
  font-family: "AmalineTrialRegular400";
  /* background: linear-gradient(
    90.98deg,
    #01f0ff 1.94%,
    rgba(35, 105, 209, 0.64) 50.07%
  ); */
  background: linear-gradient(
    180.98deg,
    #01f0ff 30.94%,
    rgba(35, 105, 209, 0.64) 100.07%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 72px;
  font-weight: 700;
}
.main-heading i {
  font-weight: 300;
  font-family: "AmalineTrialRegular400";
}
.secondary-heading {
  font-size: 64px;
  line-height: 24px;
  font-family: "AmalineTrialRegular400";
  text-align: center;
}
.secondary-heading .gradient-text {
  font-family: "AmalineTrialRegular400";
  /* background: linear-gradient(
    90.98deg,
    #01f0ff 1.94%,
    rgba(35, 105, 209, 0.64) 50.07%
  ); */
  background: linear-gradient(
    90.98deg,
    #01f0ff 39.94%,
    rgba(35, 105, 209, 0.64) 100.07%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "AmalineTrialRegular400";
  font-size: 64px;
  font-weight: 700;
}
.secondary-heading i {
  font-style: normal;
}
.sub-heading {
  font-weight: 500;
  font-size: 54px;
  line-height: 76px;
}
.keen-slider > svg {
  z-index: 111;
  width: 34px;
}

/* Latest divider */
.divider {
  background: #fff;
  width: 197px;
  height: 2px;
  display: flex;
  margin: auto;
  border-radius: 3px;
}
.bg-style-dark .divider {
  background: #fff;
}
.bg-style-light .divider {
  background: linear-gradient(
    90.98deg,
    #01f0ff 39.94%,
    rgba(35, 105, 209, 0.64) 100.07%
  );
}

/* second fold */
/* .common-fold .keen-slider {
  padding: 0 30px;
} */
.common-fold svg {
  z-index: 111;
  width: 83px;
  height: auto;
}
.common-fold .keen-slider__slide {
  padding: 0 16px;
}
.bottom-info {
  padding: 26px 0;
}
.bottom-info .MuiListItemAvatar-root {
  margin-right: 13px;
}
.bottom-info .MuiListItemText-root span {
  text-transform: uppercase;
}
.bottom-info .MuiListItemText-root span:first-child {
  font-size: 24px;
  line-height: 32px;
}
.bottom-info .MuiListItemText-root span:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.bottom-info .MuiListItemText-root span:last-child {
  color: #8393af;
}
.section-spacing {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* Third fold */
/* .brands-section{
  background-image: url("/home-page-middle-bg-blend.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: calc(100% + 48px);
  margin-left: -24px;
} */
.third-fold .secondary-heading .gradient-text {
  background-image: linear-gradient(90deg, #22caff, #0266c1);
}
.bg-style-light .third-fold .secondary-heading .gradient-text {
  background-image: linear-gradient(
    90.98deg,
    #01f0ff 39.94%,
    rgba(35, 105, 209, 0.64) 100.07%
  );
}
.exploere-all-btn {
  height: 72px;
  background: linear-gradient(207.67deg, #01f0ff 3.43%, #004ea9 104.7%);
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.exploere-all-btn:hover {
  box-shadow: 0 4px 15px 0 rgba(35, 105, 209, 0.64);
  background-image: linear-gradient(
    to right,
    #01f0ff 39.94%,
    rgba(35, 105, 209, 0.64) 100.07%
  );
  /* background-image:  linear-gradient( 90.98deg, #01f0ff 39.94%, rgba(35, 105, 209, 0.64) 100.07% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; */
  /* border: 2px solid transparent;
  border-image: linear-gradient(207.67deg, #01F0FF 3.43%, #004EA9 104.7%);
  border-image-slice: 1; */
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.exploere-all-btn svg {
  width: auto;
}

/* Fourth fold */
.fourth-fold .secondary-heading .gradient-text {
  background: linear-gradient(
    210.98deg,
    #01f0ff 23.94%,
    rgba(35, 105, 209, 0.64) 128.07%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.bg-style-light .fourth-fold .secondary-heading .gradient-text {
  background: linear-gradient(
    190.98deg,
    #22caff 39.94%,
    rgba(35, 105, 209, 0.94) 100.07%
  );
  /* background: linear-gradient(190.98deg, #22CAFF 6.34%, rgba(4, 108, 166, 0.99) 72.43%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.custom-card {
  cursor: pointer;
  box-shadow: none;
}
.custom-card figure {
  overflow: hidden;
  margin: 0;
}
.custom-card img {
  transition: all 0.3s ease-in-out 0s;
}
.custom-card:hover {
  box-shadow: 0 0 16px 0 #c0c0c0;
}
.custom-card:hover img {
  transform: scale(1.05);
}
.bg-style-dark .custom-card:hover {
  box-shadow: 0 0 16px 0 rgba(1, 240, 255, 0.4);
}
/* fifth fold */
.fifth-fold .secondary-heading .gradient-text {
  background: linear-gradient(
    190.42deg,
    #5ac1e2 49.6%,
    #005da6 68.1%,
    #1857b5 68.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/* footer */
.footer li a .MuiTypography-root {
  color: #8393af;
  font-weight: 700;
}
.email-box p {
  color: #8393af;
  font-size: 20px;
}
.bg-style-dark .email-box p {
  color: #fff;
}
.bg-style-dark .footer-headings .MuiTypography-h6 {
  color: #fff;
}
